way[highway=track]
{
    width: 4;
    color: #ff0000;
    dashes: 15,9;
    dashes-background-color: #00ff00;
    
}

way[highway=path]
{
    width: 2;
    dashes: 15,9;
    dashes-background-color: #00ff00;
}

way[highway=service]
{
    color: #8ad3ed;
}

way[highway=residential]
{

	width: 2;
    color: #ffff00;
}
